In [13]:
import time
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from itertools import product
import gc
import optuna

In [14]:
def read_data(path: str, files: list):
    dataframes = []
    for file in files:
        dataframes.append(pd.read_csv(path + file))
    return dataframes


path = '../input/competitive-data-science-predict-future-sales/'
files = ['sales_train.csv', 'items.csv', 'shops.csv', 'item_categories.csv', 'test.csv']
sales_train, items, shops, item_categories, test = read_data(path, files)
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [15]:
def remove_outliers(df: pd.DataFrame, max_price: int, max_cnt: int):  
    df = df[df['item_price'] > 0]
    df = df[df['item_price'] < max_price]
    df = df[df['item_cnt_day'] > 0]
    df = df[df['item_cnt_day'] < max_cnt]
    return df


sales_train = remove_outliers(sales_train, 50000, 1000)

In [16]:
def remove_shop_duplicates(df_train: pd.DataFrame, df_test: pd.DataFrame, shop_dups: dict):
    for shop1, shop2 in shop_dups.items():
        df_train.loc[df_train['shop_id'] == shop1, 'shop_id'] = shop2
        df_test.loc[df_test['shop_id'] == shop1, 'shop_id'] = shop2
        

shop_dups = {0: 57, 1: 58, 10: 11, 39: 40}
remove_shop_duplicates(sales_train, test, shop_dups)

In [17]:
def create_city_feature(shops_df: pd.DataFrame, corrections: dict):
    shops_df['city'] = shops_df['shop_name'].str.extract(r'(\w+\.*\w*)')
    for city1, city2 in corrections.items():        
        shops_df.loc[shops_df.city == city1, 'city'] = city2
    shops_df['city'] = LabelEncoder().fit_transform(shops['city'])
    
    
corrections = {'Выездная': 'Выездная торговля', 'РостовНаДону': 'Ростов-На-Дону',
               'Сергиев': 'Сергиев Посад', 'Цифровой': 'Интернет'}
create_city_feature(shops, corrections)
shops.head()

                        shop_name  shop_id  city
0   !Якутск Орджоникидзе, 56 фран        0    28
1   !Якутск ТЦ "Центральный" фран        1    28
2                Адыгея ТЦ "Мега"        2     0
3  Балашиха ТРК "Октябрь-Киномир"        3     1
4        Волжский ТЦ "Волга Молл"        4     2

In [19]:
def create_train(month_range: list, all_shops: list, all_items: list):
    train = []
    for month in month_range:
        train.append(np.array(list(product([month], all_shops, all_items))))
    train = pd.DataFrame(np.vstack(train), columns=['date_block_num', 'shop_id', 'item_id'])
    return train


train = create_train(sales_train.date_block_num.unique(), sales_train.shop_id.unique(),
                     sales_train.item_id.unique())
train

          date_block_num  shop_id  item_id
0                      0       59    22154
1                      0       59     2552
2                      0       59     2554
3                      0       59     2555
4                      0       59     2564
...                  ...      ...      ...
41511003              33       36     8428
41511004              33       36     7903
41511005              33       36     7610
41511006              33       36     7635
41511007              33       36     7640

[41511008 rows x 3 columns]

In [20]:
def aggregate_on_month_level(train_df: pd.DataFrame, sales_train_df: pd.DataFrame, test_df: pd.DataFrame): 
    group = sales_train_df.groupby(['date_block_num', 'shop_id', 'item_id']).agg({'item_cnt_day': 'sum', 'item_price': 'mean'}).reset_index()
    group = group.rename(columns={'item_cnt_day': 'item_cnt_month', 'item_price': 'item_price_mean'})
    #all_data = train_df.merge(group, on=['date_block_num', 'shop_id', 'item_id'], how='left')
    all_data = group
    
    test = test_df.merge(group[group['date_block_num'] == 33], on=['shop_id', 'item_id'], how='left')
    test = test.fillna(0)    
    test['date_block_num'] = 34

    all_data = pd.concat([all_data, test.drop(columns='ID')], ignore_index=True, keys=['date_block_num', 'shop_id', 'item_id'])
    all_data = all_data.fillna(0)
    all_data['item_cnt_month'] = all_data['item_cnt_month'].clip(0,20)
    return all_data


all_data = aggregate_on_month_level(train, sales_train, test)

In [22]:
def add_lag_features(lag_months: list, month_range: range):
    lags = pd.DataFrame()
    for month in month_range:
        cur_month = all_data[all_data.date_block_num == month]
        for lag in lag_months:
            cur_lag = all_data[all_data.date_block_num == month - lag]
            cur_lag = cur_lag.rename({'item_cnt_month': 'item_cnt_last_{}'.format(lag),
                                      'item_price_mean': 'item_price_last_{}'.format(lag)}, axis=1)

            cur_item_lag = all_data[all_data.date_block_num == month - lag]
            cur_item_lag = cur_item_lag.groupby(['item_id'], as_index=False).agg({'item_cnt_month': 'sum', 'item_price_mean': 'mean'})
            cur_item_lag = cur_item_lag.rename({'item_cnt_month': 'item_cnt_last_{}_item'.format(lag),
                                                'item_price_mean': 'item_price_last_{}_item'.format(lag)},
                                                axis=1)

            cur_month = cur_month.merge(cur_lag.drop(columns='date_block_num'), how='left',
                                        on=['shop_id', 'item_id'])
            cur_month = cur_month.merge(cur_item_lag,
                                        how='left', on=['item_id'])
        lags = pd.concat([lags, cur_month], ignore_index=True)
        
    lags = lags.fillna(0)
    return lags

lag_months = [1, 2, 3, 12]
month_range = range(12, all_data.date_block_num.nunique())
all_data = add_lag_features(lag_months, month_range)

In [23]:
items['first_sale_date'] = sales_train.groupby('item_id').agg({'date_block_num': 'min'})['date_block_num']
items['first_sale_date'] = items['first_sale_date'].fillna(34)

all_data = all_data.merge(shops[['shop_id', 'city']], on='shop_id', how='left')
all_data = all_data.merge(items[['item_id', 'item_category_id', 'first_sale_date']], on='item_id', how='left')
all_data = all_data.merge(item_categories.drop('item_category_name', axis=1), on='item_category_id', how='left')

all_data['new_item'] = all_data['first_sale_date'] == all_data['date_block_num']
all_data = all_data.drop('first_sale_date', axis=1)

all_data.head()

,date_block_num,shop_id,item_id,item_cnt_month,item_price_mean,item_cnt_last_1,item_price_last_1,item_cnt_last_1_item,item_price_last_1_item,item_cnt_last_2,...,item_price_last_3,item_cnt_last_3_item,item_price_last_3_item,item_cnt_last_12,item_price_last_12,item_cnt_last_12_item,item_price_last_12_item,city,item_category_id,new_item
0,12,2,32,1.0,119.0,0.0,0.0,90.0,146.372581,0.0,...,0.0,58.0,194.102564,0.0,0.0,242.0,335.042318,0,40,False
1,12,2,33,1.0,199.0,1.0,199.0,42.0,196.304348,2.0,...,0.0,33.0,194.758333,1.0,499.0,61.0,488.866667,0,37,False
2,12,2,99,1.0,149.0,0.0,0.0,24.0,123.132292,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0,37,False
3,12,2,482,2.0,3300.0,1.0,3300.0,89.0,3207.011494,2.0,...,3300.0,131.0,3220.974026,1.0,3300.0,119.0,3051.536883,0,73,False
4,12,2,485,1.0,300.0,1.0,300.0,111.0,294.500000,0.0,...,300.0,172.0,295.111111,0.0,0.0,0.0,0.000000,0,73,False

In [24]:
del shops, items, item_categories, train
gc.collect()

46

In [25]:
def downcast(df, verbose=True):
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        dtype_name = df[col].dtype.name
        if dtype_name == 'object':
            pass
        elif dtype_name == 'bool':
            df[col] = df[col].astype('int8')
        elif dtype_name.startswith('int') or (df[col].round() == df[col]).all():
            df[col] = pd.to_numeric(df[col], downcast='integer')
        else:
            df[col] = pd.to_numeric(df[col], downcast='float')
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose:
        print('{:.1f}% compressed'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

all_data = downcast(all_data)
gc.collect()

66.8% compressed

0

In [27]:
class TimeSeriesCycle:
    def __init__(self,
                 data: pd.DataFrame,
                 models_with_params: dict,
                 metric: object,
                 start_border: int,
                 train_border: int,
                 valid_border: int,
                 test_border: int,
                 cv_step: int,
                 optuna_trials: int
                ):
        self.data = data
        self.models_with_params = models_with_params
        self.metric = metric
        self.start_border = start_border
        self.train_border = train_border
        self.valid_border = valid_border
        self.test_border = test_border    
        self.cv_step = cv_step
        self.optuna_trials = optuna_trials
        self.best_estimators = []
        
   
    def evaluate_model(self, model, params):
        def objective(trial, X, y):
            model.set_params(**params(trial))
            scores = []
            for i in range(self.start_border + self.cv_step, self.train_border + 1, self.cv_step):
                X_train = self.data[self.data['date_block_num'] < i].drop(columns=['item_cnt_month'])
                y_train = self.data[self.data['date_block_num'] < i]['item_cnt_month']
                X_valid = self.data[self.data['date_block_num'] == i].drop(columns=['item_cnt_month'])
                y_valid = self.data[self.data['date_block_num'] == i]['item_cnt_month']

                model.fit(X_train, y_train)
                preds = model.predict(X_valid).clip(0, 20)
                scores.append(self.metric(y_valid, preds))
            return np.mean(scores)
        
        
        start = time.time()
        study_name = 'study'
        study = optuna.create_study(study_name=study_name)
        study.optimize(lambda trial: objective(trial,
                                               self.data.drop(columns=['item_cnt_month']),
                                               self.data['item_cnt_month']
                                              ), 
                       n_trials=self.optuna_trials, show_progress_bar=True, gc_after_trial=True)
        end = time.time()
        
        print('Best score: {}'.format(study.best_value))
        print('Best params: {}'.format(study.best_params))
        print('Taken time: {}'.format(int(end - start)))
        
        self.best_estimators.append(study.best_trial)
    
    
    def compare_models(self):
        for model, params in self.models_with_params.items():
            self.evaluate_model(model, params)
            
        scores = []
        for estimator in self.best_estimators:
            preds = estimator.predict(self.data[self.data['date_block_num'] == 
                                          self.valid_border].drop(colums=['item_cnt_month'])
                                          ).clip(0, 20)
            score = self.metric(preds, self.data[self.data['date_block_num'] == 
                                                    self.valid_border]['item_cnt_month'])
            print('Validation set score = ' + str(score))
            scores.append(score)
            
        return self.best_estimators[np.argmin(scores)]
    
    def get_predictions(self):
        start = time.time()
        
        model = self.compare_models()
        X = self.data[self.data['date_block_num'] <= self.valid_border].drop(colums=['item_cnt_month'])
        y = self.data[self.data['date_block_num'] <= self.valid_border]['item_cnt_month']
        model.fit(X, y)
        X_test = self.data[self.data['date_block_num'] == self.test_border].drop(columns=['item_cnt_day'])
        y_test = model.predict(X_test).clip(0, 20)
        
        end = time.time()
        print('Took ' + str(int(end - start)) + ' seconds to get final predictions')
        return y_test

In [28]:
def rmse_metric(y_valid, y_pred):
    return mean_squared_error(y_valid, y_pred, squared=False)

forecaster = xgb.XGBRegressor()

def xgb_params(trial):
    params = {
              'n_estimators': trial.suggest_int('n_estimators', 0, 500),
              'max_depth': trial.suggest_int('max_depth', 3, 5),
              'reg_alpha': trial.suggest_uniform('reg_alpha', 0, 6),
              'reg_lambda': trial.suggest_uniform('reg_lambda', 0, 2),
              'min_child_weight': trial.suggest_int('min_child_weight', 0, 5),
              'gamma': trial.suggest_uniform('gamma', 0, 4),
              'learning_rate': trial.suggest_loguniform('learning_rate', 0.05, 0.5),
              'colsample_bytree': trial.suggest_uniform('colsample_bytree', 0.4, 0.9),
              'subsample': trial.suggest_uniform('subsample', 0.4, 0.9),
              'nthread': -1
              }
    return params

tsc = TimeSeriesCycle(data=all_data,
                      models_with_params={forecaster: xgb_params},
                      metric=rmse_metric,
                      start_border=12,
                      train_border=32,
                      valid_border=33,
                      test_border=34,
                      cv_step=5,
                      optuna_trials=30
                     )
#tsc.compare_models()

In [ ]:
y_test = tsc.get_predictions()
submission = pd.DataFrame({
    "ID": np.arange(y_test.shape[0]),
    "item_cnt_month": y_test
})
submission.to_csv('s.csv', index=False)

[I 2022-10-12 19:38:14,163] A new study created in memory with name: study
/opt/conda/lib/python3.7/site-packages/optuna/progress_bar.py:47: ExperimentalWarning: Progress bar is experimental (supported from v1.2.0). The interface can change in the future.
  self._init_valid()

  0%|          | 0/30 [00:00<?, ?it/s]

[I 2022-10-12 19:45:03,557] Trial 0 finished with value: 1.8396263122558594 and parameters: {'n_estimators': 346, 'max_depth': 5, 'reg_alpha': 1.4868335574438198, 'reg_lambda': 0.08051103487258726, 'min_child_weight': 3, 'gamma': 0.3865180354271529, 'learning_rate': 0.20833112368459897, 'colsample_bytree': 0.5884468405076111, 'subsample': 0.7311488478162994}. Best is trial 0 with value: 1.8396263122558594.
[I 2022-10-12 19:48:15,984] Trial 1 finished with value: 1.9012296199798584 and parameters: {'n_estimators': 248, 'max_depth': 3, 'reg_alpha': 3.7655213542636856, 'reg_lambda': 0.03157298882704418, 'min_child_weight': 2, 'gamma': 1.2560587174774254, 'learning_rate': 0.1522088421432004, 'colsample_bytree': 0.6019421528240181, 'subsample': 0.5044836036687674}. Best is trial 0 with value: 1.8396263122558594.
[I 2022-10-12 19:51:38,246] Trial 2 finished with value: 1.9197133779525757 and parameters: {'n_estimators': 237, 'max_depth': 3, 'reg_alpha': 4.065182325294296, 'reg_lambda': 0.7514975361599474, 'min_child_weight': 0, 'gamma': 3.1423439739964016, 'learning_rate': 0.0695397179325241, 'colsample_bytree': 0.723080840999367, 'subsample': 0.5124976980140639}. Best is trial 0 with value: 1.8396263122558594.
[I 2022-10-12 19:55:58,437] Trial 3 finished with value: 1.8762210607528687 and parameters: {'n_estimators': 340, 'max_depth': 3, 'reg_alpha': 4.755935997530564, 'reg_lambda': 1.4050604393295538, 'min_child_weight': 0, 'gamma': 0.3223617835546908, 'learning_rate': 0.1844189500741717, 'colsample_bytree': 0.6671396222231412, 'subsample': 0.8639286726375071}. Best is trial 0 with value: 1.8396263122558594.
[I 2022-10-12 20:02:42,443] Trial 4 finished with value: 1.8275291919708252 and parameters: {'n_estimators': 283, 'max_depth': 5, 'reg_alpha': 1.7428355779401832, 'reg_lambda': 1.4129874958986999, 'min_child_weight': 5, 'gamma': 2.3006007435611706, 'learning_rate': 0.20839978186323835, 'colsample_bytree': 0.8198844816297841, 'subsample': 0.7168806150008822}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:11:30,389] Trial 5 finished with value: 1.8442723751068115 and parameters: {'n_estimators': 378, 'max_depth': 5, 'reg_alpha': 1.093132537206103, 'reg_lambda': 0.40322920536430096, 'min_child_weight': 5, 'gamma': 3.0460762235230208, 'learning_rate': 0.08143382810186434, 'colsample_bytree': 0.7391514174349076, 'subsample': 0.6676075342046253}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:13:10,772] Trial 6 finished with value: 1.9112050533294678 and parameters: {'n_estimators': 107, 'max_depth': 3, 'reg_alpha': 2.7807278005021656, 'reg_lambda': 0.7143767642832557, 'min_child_weight': 2, 'gamma': 3.4736107605941258, 'learning_rate': 0.22743756882928212, 'colsample_bytree': 0.8058472979226277, 'subsample': 0.47753346550968584}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:16:55,846] Trial 7 finished with value: 1.8885809183120728 and parameters: {'n_estimators': 334, 'max_depth': 3, 'reg_alpha': 4.210271104615918, 'reg_lambda': 1.6248641093990226, 'min_child_weight': 5, 'gamma': 0.7917579626903488, 'learning_rate': 0.139400683272446, 'colsample_bytree': 0.49740553277497634, 'subsample': 0.8067119448572444}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:21:12,990] Trial 8 finished with value: 1.8904213905334473 and parameters: {'n_estimators': 228, 'max_depth': 4, 'reg_alpha': 2.597072275994708, 'reg_lambda': 0.888452910716049, 'min_child_weight': 5, 'gamma': 2.822975836224507, 'learning_rate': 0.07227796297224422, 'colsample_bytree': 0.7675925587084522, 'subsample': 0.7000273567721536}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:28:04,625] Trial 9 finished with value: 1.859375 and parameters: {'n_estimators': 476, 'max_depth': 4, 'reg_alpha': 4.201923709724769, 'reg_lambda': 1.0619496861318047, 'min_child_weight': 4, 'gamma': 3.617034202873594, 'learning_rate': 0.10302526878743742, 'colsample_bytree': 0.47293804005066936, 'subsample': 0.5355763544468812}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:28:15,228] Trial 10 finished with value: 1.9733163118362427 and parameters: {'n_estimators': 4, 'max_depth': 5, 'reg_alpha': 5.9507957258401945, 'reg_lambda': 1.964521313827154, 'min_child_weight': 3, 'gamma': 2.0220780677298156, 'learning_rate': 0.4348953871580852, 'colsample_bytree': 0.8777721220554657, 'subsample': 0.5784386088133285}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:37:04,313] Trial 11 finished with value: 1.836094617843628 and parameters: {'n_estimators': 450, 'max_depth': 5, 'reg_alpha': 0.9023572425056228, 'reg_lambda': 1.346999003039849, 'min_child_weight': 3, 'gamma': 2.1342348513736225, 'learning_rate': 0.29693995000300794, 'colsample_bytree': 0.5839027071576847, 'subsample': 0.7427823487007905}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:45:39,687] Trial 12 finished with value: 1.8620843887329102 and parameters: {'n_estimators': 469, 'max_depth': 5, 'reg_alpha': 0.428551366986437, 'reg_lambda': 1.3262148962608753, 'min_child_weight': 4, 'gamma': 2.1012250204676266, 'learning_rate': 0.3656824877694057, 'colsample_bytree': 0.5527321679708834, 'subsample': 0.7731392885636877}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:47:40,579] Trial 13 finished with value: 1.8858211040496826 and parameters: {'n_estimators': 143, 'max_depth': 4, 'reg_alpha': 1.7366432536411862, 'reg_lambda': 1.7520210785701735, 'min_child_weight': 4, 'gamma': 2.4520943240501274, 'learning_rate': 0.2884559298450988, 'colsample_bytree': 0.40598558255182704, 'subsample': 0.6179981392080641}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 20:56:04,010] Trial 14 finished with value: 1.8465938568115234 and parameters: {'n_estimators': 410, 'max_depth': 5, 'reg_alpha': 0.03171765322339326, 'reg_lambda': 1.2079455037122402, 'min_child_weight': 1, 'gamma': 1.3717485218856473, 'learning_rate': 0.28123836051755735, 'colsample_bytree': 0.6639050851774716, 'subsample': 0.8974633867200443}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:06:21,293] Trial 15 finished with value: 1.9091154336929321 and parameters: {'n_estimators': 426, 'max_depth': 5, 'reg_alpha': 2.1784156087184035, 'reg_lambda': 1.557692235995745, 'min_child_weight': 3, 'gamma': 1.530737950402121, 'learning_rate': 0.47398189981398364, 'colsample_bytree': 0.8412194233498412, 'subsample': 0.4141872445590803}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:09:31,033] Trial 16 finished with value: 1.8727941513061523 and parameters: {'n_estimators': 185, 'max_depth': 4, 'reg_alpha': 0.6960461681337418, 'reg_lambda': 1.1355493383426953, 'min_child_weight': 1, 'gamma': 2.5448379323948873, 'learning_rate': 0.2982901378855112, 'colsample_bytree': 0.6820422843659305, 'subsample': 0.7573636629480264}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:17:21,814] Trial 17 finished with value: 1.8526071310043335 and parameters: {'n_estimators': 299, 'max_depth': 5, 'reg_alpha': 1.6067292556572177, 'reg_lambda': 1.9143438732266804, 'min_child_weight': 4, 'gamma': 1.797479917142148, 'learning_rate': 0.05284034997203567, 'colsample_bytree': 0.8941670668193171, 'subsample': 0.6429111676158116}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:18:17,272] Trial 18 finished with value: 1.9237841367721558 and parameters: {'n_estimators': 55, 'max_depth': 4, 'reg_alpha': 3.277876273667455, 'reg_lambda': 1.4652503554260083, 'min_child_weight': 2, 'gamma': 3.935743311864444, 'learning_rate': 0.1321630607818047, 'colsample_bytree': 0.6042859082437438, 'subsample': 0.8217724554796707}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:25:14,138] Trial 19 finished with value: 1.85001540184021 and parameters: {'n_estimators': 291, 'max_depth': 5, 'reg_alpha': 2.1739552559657773, 'reg_lambda': 1.7378741580517025, 'min_child_weight': 5, 'gamma': 2.4100032240535154, 'learning_rate': 0.245608624349577, 'colsample_bytree': 0.8013321268878104, 'subsample': 0.7290375768724633}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:34:28,023] Trial 20 finished with value: 1.844984531402588 and parameters: {'n_estimators': 495, 'max_depth': 5, 'reg_alpha': 1.037366247024624, 'reg_lambda': 0.8869718551930759, 'min_child_weight': 1, 'gamma': 1.7482121587521366, 'learning_rate': 0.11264162505847407, 'colsample_bytree': 0.5390673043632024, 'subsample': 0.6818128537445626}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:42:18,210] Trial 21 finished with value: 1.855544090270996 and parameters: {'n_estimators': 398, 'max_depth': 5, 'reg_alpha': 1.4552942230130979, 'reg_lambda': 0.142821190751757, 'min_child_weight': 3, 'gamma': 0.9305063685119475, 'learning_rate': 0.17792905395414993, 'colsample_bytree': 0.6055246434183672, 'subsample': 0.7298306641537146}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:48:34,789] Trial 22 finished with value: 1.8374534845352173 and parameters: {'n_estimators': 350, 'max_depth': 5, 'reg_alpha': 2.140028500041505, 'reg_lambda': 0.4298973203060626, 'min_child_weight': 3, 'gamma': 0.07416794912434721, 'learning_rate': 0.20056698819523539, 'colsample_bytree': 0.5495751279212722, 'subsample': 0.8018743963581418}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 21:56:00,225] Trial 23 finished with value: 1.8530926704406738 and parameters: {'n_estimators': 442, 'max_depth': 5, 'reg_alpha': 1.9729799441176512, 'reg_lambda': 0.4614643571178296, 'min_child_weight': 4, 'gamma': 0.0906627767010804, 'learning_rate': 0.3512182692235976, 'colsample_bytree': 0.4650291167585689, 'subsample': 0.8093934560267533}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 22:00:21,794] Trial 24 finished with value: 1.8502497673034668 and parameters: {'n_estimators': 300, 'max_depth': 4, 'reg_alpha': 2.428494455600485, 'reg_lambda': 1.2862961557666945, 'min_child_weight': 3, 'gamma': 2.1844547485130406, 'learning_rate': 0.19315431651326542, 'colsample_bytree': 0.5228006263728799, 'subsample': 0.8580268939908353}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 22:07:38,197] Trial 25 finished with value: 1.8479959964752197 and parameters: {'n_estimators': 370, 'max_depth': 5, 'reg_alpha': 3.0038180114859605, 'reg_lambda': 0.42204094807061154, 'min_child_weight': 2, 'gamma': 1.028053843190106, 'learning_rate': 0.24697511384362916, 'colsample_bytree': 0.5722830341393934, 'subsample': 0.7653526132534134}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 22:10:52,882] Trial 26 finished with value: 1.8584048748016357 and parameters: {'n_estimators': 188, 'max_depth': 4, 'reg_alpha': 1.0250405408252186, 'reg_lambda': 1.0137893184866913, 'min_child_weight': 4, 'gamma': 1.7235777399752021, 'learning_rate': 0.3594210112908976, 'colsample_bytree': 0.632538952648483, 'subsample': 0.6087276563862226}. Best is trial 4 with value: 1.8275291919708252.
[I 2022-10-12 22:17:23,387] Trial 27 finished with value: 1.8364378213882446 and parameters: {'n_estimators': 291, 'max_depth': 5, 'reg_alpha': 0.2197749327066758, 'reg_lambda': 0.6981953309392548, 'min_child_weight': 3, 'gamma': 2.535872578405206, 'learning_rate': 0.16338502582432374, 'colsample_bytree': 0.7052585395403688, 'subsample': 0.7102207734407209}. Best is trial 4 with value: 1.8275291919708252.